*.csv
*.html~
*.log
*.pem
*.pub
*.pyc
*.py~
*.sqlite3
*.sublime*
*.txt
*.lock
*.env

.coverage
.scannerwork
.DS_Store
.python-version
.vscode
.env

.idea/
local/
media/
node_modules/
static/dist/
staticfiles/
venv/
coverage/
dist/

.idea
**/.env
**/.env.production
**/.env.staging
**/__pycache__
virtualenv
compose/.envs/.prod
backups/*
logs/*
backups/.gitkeep
logs/.gitkeep
compose/.envs/.local
celerybeat*


.terraform
.docker
terraform.tfstate

development.json
development.backend.json
staging.json
staging.backend.json
production.json
production.backend.json
node_modules
